<div class="parallax"></div>
<div class="card default-color-dark">
  <div class="container education">
    <div class="divider-new">
      <h3>Education</h3>
    </div>
    <h4>Dev Bootcamp</h4>
    <p class="white-text wow fadeInLeft education-txt">I completed Dev Bootcamp, which is a 19-week interactive coding boot camp that teaches algorithms with Ruby and JavaScript along with teaching Ruby on Rails, Postgresql, and SQlite. It also focuses on teaching emotional empathy to create productive future members of a team. The course consisted of 8 hours every day of pair-programming Monday through Thursday to practice building good communication skills while working together.</p>
  </div>
</div>
<app-about></app-about>
<script>
new WOW().init();

</script>
