<div class="parallax-about"></div>
<div class="card default-color-dark">
  <div class="container about">
    <div class="divider-new">
      <h3>About Me!</h3>
    </div>
    <div class="container">
      <p class="white-text wow fadeInLeft education-txt">I became a software engineer when I was introduced to the idea of using software engineering to help improve people's lives and creating more ways to connect people throughout the world. I made a decision and went out to learn this new skill, finding and meeting new people to help teach me along the way. Then I was introduced to code programming boot camps where I enrolled in the search to sharpen my skills. Now I am excited to be graduated and in the search to find new opportunities in which I can reach my goal as a software engineer who builds products to help improve the lives of others.</p>
    </div>
  </div>
</div>
<div class="parallax-skills"></div>
<!-- <app-skills></app-skills> -->
