<div id="carousel-example-3" class="carousel slide carousel-fade z-depth-1-half carousels" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-3" data-slide-to="0" class="active elegant-color"></li>
    <li data-target="#carousel-example-3" data-slide-to="1" class="elegant-color"></li>
    <li data-target="#carousel-example-3" data-slide-to="2" class="elegant-color"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="hm-black-light">
        <img src="../../images/parts.png" class="img-fluid" alt="No Image Display">
      </div>
      <div class="cards card card-warning default-color-dark text-center z-depth-2">
        <div class="card-block">
          <div class="divider-new">
            <h3>O'Reilly Auto Parts</h3>
          </div>
          <h5>February 2015 to August 2015</h5>
          <p class="white-text">I helped customers with finding the correct part for their application and insured good customer service daily to increase foot traffic I resolved issues with customers that entered the store and found a resolution to the problem to satisfy the customers I checked the quality of parts given to commercial customers to insure they received the correct part for their application and help support their account managing while also assisting with regular customers that come through the store.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="hm-black-light">
        <img src="../../images/classic.png" class="img-fluid" alt="No Image Display">
      </div>
      <div class="cards card card-danger default-color-dark text-center z-depth-2">
        <div class="card-block">
          <div class="divider-new">
            <h3>CLASSICS BY STEVE</h3>
          </div>
          <h5>September 2014 to November 2014</h5>
          <p class="white-text">I inspected multiple vehicles per day for imperfections entering and exiting the shop for service to increase trust in customers as well to increase foot traffic I performed a thorough weekly cleaning of the shop area for an increase in productivity among shop employees I performed a multitude of mechanical jobs where I would work with my fellow mechanics and collaborated to find the most efficient way of finishing the job.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="hm-black-slight">
        <img src="../../images/coffee.png" class="img-fluid" alt="No Image Display">
      </div>
      <div class="cards card card-danger default-color-dark text-center z-depth-2">
        <div class="card-block">
          <div class="divider-new">
            <h3>West Coast Fab Inc.</h3>
          </div>
          <h5>September 2013 to August 2014</h5>
          <p class="white-text">My responsibilities consisted of collaborating with my coworkers daily in the morning to find the fastest plan to complete all the finished parts for the day I manufactured machined parts in the grinding room with belt sanders, disc grinders, spot welders, and other tools that were required to finish the job I collaborated with other coworkers to find the most efficient way to finish the job at hand, especially when faced with a nearing deadline and running behind schedule.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-3" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
  <a class="right carousel-control" href="#carousel-example-3" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<app-education></app-education>
