<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half carousels" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active elegant-color"></li>
    <li data-target="#carousel-example-2" data-slide-to="1" class="elegant-color"></li>
    <li data-target="#carousel-example-2" data-slide-to="2" class="elegant-color"></li>
    <li data-target="#carousel-example-2" data-slide-to="3" class="elegant-color"></li>
    <li data-target="#carousel-example-2" data-slide-to="4" class="elegant-color"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="cards card card-primary default-color-dark text-center z-depth-2">
        <div class="card-block">
          <div class="divider-new">
            <h3>Autism Talks</h3>
          </div>
          <p class="white-text">Autism Talks is a website for allies of those with autism and who wish to find and share useful information they have found about autism.This is a site made to help inform the families and friends so they may inform themselves to help the people they love that are autistic.I hope you make find the information shared useful and enjoy your time!</p>
          <a href="http://autism-talks.herokuapp.com/">Click Here to go the website!</a>
        </div>
      </div>
      <div class="hm-black-light">
        <img src="../../images/autism.png" class="img-fluid" alt="No Image Display">
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards card card-danger default-color-dark text-center z-depth-2">
        <div class="card-block">
          <div class="divider-new">
            <h3>Bear Hugs</h3>
          </div>
          <p class="white-text">This website was a client project were I was to create a website for the client's dog.It's an about page to specify the history and life of the most amazing dog in the world. This site was created to focus and showcase the key points of the life of this amazing animal Bear. It tells his story and some info on him and his family life.</p>
          <a href="https://bear-hug.herokuapp.com/">Click Here to go the website!</a>
        </div>
      </div>
      <div class="hm-black-light">
        <img src="../../images/bears.png" class="img-fluid" alt="No Image Display">
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards card card-success default-color-dark text-center z-depth-2">
        <div class="card-block">
          <div class="divider-new">
            <h3>Game Board tracker</h3>
          </div>
          <p class="white-text">This web app was a school project while I attended Dev Bootcamp. The focus of the project given by one of the staff at DBC to me and my fellow students in my group, to create a website where the client(DBC staff member) could go online. Sign up along with his friends and post the games they own along with a description about the game and its genre. Then make it for other users of the site comment on the games in their collection.</p>
          <a href="https://board-game-app.herokuapp.com/">Click Here to go the website!</a>
        </div>
      </div>
      <div class="hm-black-slight">
        <img src="../../images/gameBoard.png" class="img-fluid" alt="No Image Display">
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards card card-info default-color-dark text-center z-depth-2">
        <div class="card-block">
          <div class="divider-new">
            <h3>Pokemon Generator Gem</h3>
          </div>
          <p class="white-text">This gem is a Pokemon wrapper for engineers can call simple functions to create new Pokemon with a name or type from the Pokemon Series from any of the 8 generations.The point of the Gem is to make it easier for other engineers to make web applications or games using data from the Pokemon game or show.</p>
          <a href="https://rubygems.org/gems/PokemonGenerator">Click Here to go the website!</a>
        </div>
      </div>
      <div class="hm-black-slight">
        <img src="../../images/pokemon.png" class="img-fluid" alt="No Image Display">
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards card default-color default-color-dark text-center z-depth-2">
        <div class="card-block">
          <div class="divider-new">
            <h3>Portfolio Site AngularJs</h3>
          </div>
          <p class="white-text">This website was a client project were I was to create a website for the client's dog.It's an about page to specify the history and life of the most amazing dog in the world. This site was created to focus and showcase the key points of the life of this amazing animal Bear. It tells his story and some info on him and his family life.</p>
          <a href="http://www.collinshelby.com/">Click Here to go the website!</a>
        </div>
      </div>
      <div class="hm-black-slight">
        <img src="../../images/personalSite.png" class="img-fluid" alt="No Image Display">
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
  <a class="right carousel-control" href="#carousel-example-2" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
