html,
body,
header,
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}

.title {
  margin-top: 200px;
  /*margin-left: 40px;*/
}

.view {
  background: url("./assets/intro.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 768px) {
  .full-bg-img,
  .view {
    height: auto;
    position: relative;
  }
}

.description {
  padding-top: 25%;
  padding-bottom: 3rem;
  color: #fff
}

@media (max-width: 992px) {
  .description {
    padding-top: 7rem;
    text-align: center;
  }
  #app-mockup {
    max-height: 400px;
  }
}

.flex-center {
  color: #fff;
}

.list-group {
  margin-bottom: 300px;
}

#section-1 {
  z-index: 1;
  color: #fff;
  height: 100vh;
}

#section-1 .row {
  position: fixed;
}

.cards {
  height: 100%;
  text-align: center;
}

.card {
  border-radius: 0px;
}

.parallax {
  background-image: url("./assets/coding.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-about {
  background-image: url("./assets/about.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-skills {
  background-image: url("./assets/coffee.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  height: 600px;
}

.education {
  text-align: center;
}

.about {
  text-align: center;
}

.ed {
  background-image: url("./assets/about.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills {
  margin-left: 140px;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.skills img {
  margin-top: 5px;
  height: 200px;
  width: 250px;
}

.skill-info {
  height: 550px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.page-footer {
  height: 100px;
  padding-top: 500px;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-indicators .active {
  background-color: #00695c;
}

.carousel-control-prev span {
  background-color: black;
}

.carousel-control-next span {
  background-color: black;
}

.aut {
  background-image: url("./assets/autism.png");
  min-height: 690px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bear {
  background-image: url("./assets/bears.png");
  min-height: 690px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.port {
  background-image: url("./assets/personalsite.png");
  min-height: 690px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game {
  background-image: url("./assets/gameBoard.png");
  min-height: 690px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon {
  background-image: url("./assets/pokemon.png");
  min-height: 690px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

