html,
body,
header,
.view {
  height: 100%;
}

.title {
  margin-top: 200px;
  margin-left: 40px;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #2E2E2E;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2E2E2E;
  }
}

.view {
  background: url("./images/intro.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 768px) {
  .full-bg-img,
  .view {
    height: auto;
    position: relative;
  }
}

.description {
  padding-top: 25%;
  padding-bottom: 3rem;
  color: #fff
}

@media (max-width: 992px) {
  .description {
    padding-top: 7rem;
    text-align: center;
  }
  #app-mockup {
    max-height: 400px;
  }
}

.carousel,
.carousel-item,
.active {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.flex-center {
  color: #fff;
}

@media (min-width: 776px) {
  .carousel .view ul li {
    display: inline;
  }
  .carousel .view .full-bg-img ul li .flex-item {
    margin-bottom: 1.5rem;
  }
}

#carousel-example-2 {
  height: 355px;
}

.list-group {
  margin-bottom: 300px;
}

#carousel-example-3 {
  height: 355px;
}


#section-1 {
  z-index: 1;
  color: #fff;
  height: 100vh;
}

#section-1 .row {
  position: fixed;
}

.cards {
  height: 100%;
  text-align: center;
}

.card {
  border-radius: 0px;
}

.parallax {
  background-image: url("./images/coding.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-indicators .active {
  color: #2BBBAD;
}

.parallax-aut {
  background-image: url("./images/about.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.education {
  text-align: center;
}

.about {
  text-align: center;
}

.ed {
  background-image: url("./images/about.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills {
  margin-left: 140px;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.skills img {
  margin-top: 5px;
  height: 200px;
  width: 250px;
}

.skill-info {
  height: 550px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.page-footer {
  height: 100px;
  padding-top: 500px;
}
